@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole> 

@{
	ViewData["Title"] = "Roles";
}

<table class="table">
    @foreach (var role in Model)
	{
		<tr>
			<td>@role.Name</td>
			<td>
                <form asp-action="Delete" asp-route-roleId="@role.Id" method="post">
                    <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
				</form>
			</td>
		</tr>
	}
</table>

<a asp-action="Create" class="btn btn-sm btn-primary">Add Role</a>