@model IdentityApp.ViewModels.ChangePasswordViewModel 

@{
    ViewBag.Title = $"{Model.UserName} - password changing";

    string returnUrl = $"{Model.ReturnUrl}?userId={Model.Id}";
}

<form asp-action="ChangePassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="UserName" />
    <input type="hidden" asp-for="ReturnUrl" value="@returnUrl" />

    <div class="form-group">
        <label asp-for="CurrentPassword" class="control-label"></label><br />
        <input type="password" asp-for="CurrentPassword" class="form-control" />
        <span asp-validation-for="CurrentPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label><br />
        <input type="password" asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="control-label"></label><br />
        <input type="password" asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>