@model IdentityApp.ViewModels.EditUserViewModel 

@{
    ViewBag.Title = "Editing a user";
}

<form asp-action="Edit" asp-route-userId="@Model.Id" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="ProfilePicture" class="control-label"></label><br />
        <input asp-for="ProfilePicture" type="file" />
        <span asp-validation-for="ProfilePicture"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label><br />
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label"></label><br />
        <input type="number" asp-for="Year" class="form-control" />
        <span asp-validation-for="Year"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label><br />
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country" class="control-label"></label><br />
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" class="control-label"></label><br />
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City"></span>
    </div>
    <div class="form-group">
        <label asp-for="Company" class="control-label"></label><br />
        <input asp-for="Company" class="form-control" />
        <span asp-validation-for="Company"></span>
    </div>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="ChangePassword" asp-route-userId="@Model.Id"
           asp-route-returnUrl="@Context.Request.Path" class="btn btn-secondary float-right">
            Change Password
        </a>
        <a asp-action="Edit" asp-controller="Roles" asp-route-userId="@Model.Id" class="btn btn-secondary float-right">
            Change Roles
        </a>
    </div>
</form>