#profile-pic {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.post-picture-container {
    position: relative;
    width: 50%;
}

.post-picture-container .delete-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    opacity: .9;
    visibility: hidden;
}

.post-picture-container:hover .delete-button {
    visibility: visible;
}

textarea {
    resize: none;
}

#user-profile-link, #user-profile-link:visited, #user-profile-link:active {
    font-size: 15px;
    font-weight: bold;
}

#likes-count {
    font-size: 16px;
}

.posted-time {
    font-size: 13px;
}

svg {
    margin-bottom: 3px;
}

.custom-file {
    cursor: pointer;
}