.post-picture-container {
    position: relative;
    width: 50%;
}

.post-picture-container .visible-on-hover-delete-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    opacity: .9;
    visibility: hidden;
}

.post-picture-container:hover .visible-on-hover-delete-button {
    visibility: visible;
}