@using System.IO 
@model IdentityApp.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "Editing a user";

    byte[] imageData = null;

    if (Model.ProfilePicture != null)
    {
        using (BinaryReader binaryReader = new BinaryReader(Model.ProfilePicture.OpenReadStream()))
        {
            imageData = binaryReader.ReadBytes((int)Model.ProfilePicture.Length);
        }
    }
}

<link href="~/css/account_profile.css" rel="stylesheet" />

<form asp-action="Edit" asp-route-userId="@Model.Id" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
    </div>

    <div class="form-group">
        <label asp-for="ProfilePicture" class="control-label"></label><br />

        <img id="profile-pic" class="border border-4 border-secondary rounded"
             src="data:image/jpeg;base64,@(Convert.ToBase64String(imageData))"
             alt="profile_picture" /><br />

        <input asp-for="ProfilePicture" type="file" />
        <span asp-validation-for="ProfilePicture"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserName" class="control-label"></label><br />
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label"></label><br />
        <input type="number" asp-for="Year" class="form-control" />
        <span asp-validation-for="Year"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label><br />
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status"></span>
    </div>
    <div class="form-group">
        <label asp-for="Country" class="control-label"></label><br />
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" class="control-label"></label><br />
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City"></span>
    </div>
    <div class="form-group">
        <label asp-for="Company" class="control-label"></label><br />
        <input asp-for="Company" class="form-control" />
        <span asp-validation-for="Company"></span>
    </div>

    <div class="form-group">
        <a asp-action="Index" asp-route-userName="@Model.UserName" class="btn btn-outline-secondary">Cancel</a>
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="ChangePassword" asp-controller="Users" asp-route-userId="@Model.Id"
           asp-route-returnUrl="@Context.Request.Path"
           class="btn btn-secondary float-right">
            Change Password
        </a>
    </div>
</form>